In [4]:
print("Hola mundo!") #Paul dijo que es una función

Hola mundo!

In [23]:
#sumas:
#6/2
x=2    #variable de tipo entero
y=235
s="hola" #string

In [24]:
print(x*s)

holahola

In [33]:
numero1 = int(input("Escriba un número 1: "))

Escriba un número 1: 10

In [34]:
numero2 = int(input("Escriba un número 2: "))

Escriba un número 2: 17

In [36]:
print("La multiplicación es: ", numero1*numero2)

La multiplicación es:  170

In [ ]:
# palabras reservadas: if,else,while,for

In [39]:
# == "¿ES EXACTAMENTE IGUAL?"
if(numero1==11):
  print("ES UN 10!")
else: # <-  si no cumple en el if, salta aquí 
  print( "NO ES UN 1O :(" )

NO ES UN 1O :(

In [45]:
contador=0
#mientras
while(contador<5):
  print("hola")
  contador=contador+1
  if(contador==3):
    print("ENCONTRE UN 3!")
  else:
    print("No es un 3 :(")

hola
No es un 3 :(
hola
No es un 3 :(
hola
ENCONTRE UN 3!
hola
No es un 3 :(
hola
No es un 3 :(

In [50]:
numero1

10

In [57]:
numero1=234*2

In [58]:
numero1

468

In [59]:
frutas=["manzana", "pera","fresa", "mango",numero1]
# c++:  List<Integer> numeros={1,2,3,45};
for i in frutas:
  #pueden trabajar con if, while
  print(i)

manzana
pera
fresa
mango
468

In [80]:
cont=10 #declaración
palabra="Juan" 
while(cont<20):
  cont=cont+1
  palabra = "Jorge"

In [69]:
X=3

In [70]:
x=4

In [92]:
nombre_de_mi_mama="Elisa" # buena práctica de programación
x="Elisa" # mala práctica de programación

In [91]:
print(50-100)

-50

In [112]:
#def  = función
def sumar(parametro1,parametro2):
  suma=parametro1+parametro2
  return suma

def operacion(num1,num2,num3,num4):
  multiplicacion=num1*num3
  suma=num2+num4
  resultado=multiplicacion+suma
  var3=3 #no recomendable dejar variables sin usar
  return resultado

In [98]:
suma_de_numeros= sumar(5,4)
print(suma_de)

9

In [113]:
opera1=operacion(2,4,3,7)
opera

17

In [114]:
opera2=operacion(1,5,4,3)
opera2

12

In [ ]:
#CLASES
#También llamado POO = programación orientada a objetos

In [ ]:
#personas
#nombre
#apellidos
#edad
#dni
#direccion

In [125]:
class Persona:
  #los metodos o funciones
  def __init__(self,nombre_,apellido_,edad_,dni_,direccion_):
    self.nombre=nombre_
    self.apellido=apellido_
    self.edad=edad_
    self.dni=dni_
    self.direccion=direccion_

In [127]:
persona1=Persona("George","Nina",27,73274970,"Calle Melgar 203, JLByR")
persona2=Persona("Luis","Carbajal",12,37597539,"Calle Chavin De huantar 120")
persona3=Persona("Luisa","Apaza",67,76347894,"Cercado Av. Independencia 302")

In [129]:
persona2.edad

12

In [130]:
persona3.dni

76347894

In [ ]:
# crear clase calculadora () ->funciones ->parametros->variables->prueben con if ->return ->resultado